<div class="chat-container" >
    <div class="row">
      <div class="col-md-4 user-list">
        <div class="user-list-card">
          <div
            class="user-card"
            [ngClass]="user?.phone === selectedUser?.phone && 'active'"
            *ngFor="let user of userList"
            (click)="selectUserHandler(user?.phone)"
          >
            <img [src]="user?.image" [alt]="user?.name" class="avatar" />
            <p class="username">{{user?.name}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 chat">
        <div class="chat-header">
          <img [src]="user?.password" [alt]="user?.username" class="avatar" />
          <p class="username">{{user?.username}}</p>
        </div>
        <div class="chat-body">
          <div *ngFor="let item of messageArray"  [ngClass]="item?.user === currentUser?.username">
            <div class="message-container">
              <p>{{item?.message}}</p>
            </div>
          </div>
        </div>
        <div class="chat-footer">
          <div class="input-container">
            <input
              type="text"
              placeholder="Type a message"
              class="form-control"
              [(ngModel)]="messageText"
              (keyup.enter)="sendMessage()"
            />
          </div>
          <div class="send-button">
            <button class="btn btn-primary" (click)="sendMessage()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- <ng-template #popup let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Login</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input
              type="number"
              placeholder="Enter your phone number"
              class="form-control"
              [(ngModel)]="phone"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary" (click)="login(d)">Login</button>
    </div>
  </ng-template> 
   -->