<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="bootsrap-wrapper">
  <div class="row font-weight-bold">
    All Quizzes
  </div>
  <button class="btn btn-primary">
    <a routerLink="/add-quiz" style="color: white; text-decoration: none;">Add Category</a>
  </button>
<ul></ul>
  <ul class="list-unstyled">
    <li *ngFor="let quiz of quizzes" class="category-card">
      <div class="card border-primary mb-3">
        <div class="card-header">
          <i class="fas fa-question-circle"></i> Quiz icon -->
        <!-- </div>
        <div class="card-body">
            <h3>{{ quiz.title }}</h3>
            <p>{{ quiz.description }}</p>
            <p>Max Marks: {{ quiz.maxMark }}</p>
            <p>Number of Questions: {{ quiz.numberofQuestions }}</p> -->
          <!-- <i class="fas fa-edit edit-icon" (click)="editCategory(category)"></i>
          <i class="fas fa-trash-alt delete-icon" (click)="deleteCategory(category)"></i> -->
        <!-- </div>
      </div>
    </li>
  </ul>


</div> -->



<h2>List of Quizzes</h2>
<ul>
  <li *ngFor="let quiz of quizzes">
    <div class="quiz-card">
      <h3>{{ quiz.title }}</h3>
      <p>{{ quiz.description }}</p>
      <p>Max Marks: {{ quiz.maxMark }}</p>
      <p>Number of Questions: {{ quiz.numberofQuestions }}</p>
      <p>Category: {{ quiz.category.title }}</p>

    </div>
  </li>
</ul>














<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->
  